<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .tables-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4rem;
        }
    </style>
</head>
<body>
<div class="page-wrapper">
    {% include './components/header.html' %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div>
        <h2>Welcome <strong>{{ username }}</strong> in user panel!</h2>
    </div>

    {% if is_student %}
    <div class="tables-wrapper mt-2">

        <div>
            <div>
                <h3>Acquired competences:</h3>
                <div class="mt-2">
                    <table class="basic-table">
                        <tr>
                            <th class="th-primary">Competences</th>
                        </tr>
                        <tr>
                            <th>{{ student_competences[0][0] }}</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <h3>Acquired certificates:</h3>
            <div class="mt-2">
                <table class="basic-table">
                    <tr>
                        <th class="th-primary">Certificate</th>
                    </tr>
                    {% for cert in certs %}
                    <tr>
                        <th>{{ cert[0] }}</th>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="mt-4 text-center">
        <a href="{{ url_for('dash.update_competences') }}" class="button">Update competences</a>
    </div>
</div>
</body>
</html>
