<style>
    .header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 4rem;
        height: 10vh;
    }

    .nav {
        display: flex;
        gap: 1rem;
    }
</style>
<header class="header">
    <!-- place for logo or empty -->
    <div></div>

    <div class="nav">
        <a href="{{ url_for('dash.dashboard') }}" class="button">Dashboard</a>
        <a href="{{ url_for('admin.admin') }}" class="button">Admin section</a>
        <a href="{{ url_for('manager.manager') }}" class="button">Manager section</a>
        <a href="{{ url_for('author.author') }}" class="button">Author section</a>
        <a href="{{ url_for('teacher.teacher') }}" class="button">Teacher section</a>
    </div>
    <div class="nav">
        <a href="{{ url_for('courses.browse_courses') }}" class="button">Signups for courses</a>
        <a href="{{ url_for('login.logout') }}" class="button">Log out</a>
    </div>
</header>